<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/style.css">
</head>
<body>
	<div id="header">
		<a href="../../images/oaulogo.png" class="logo"><img src="../../images/oaulogo.png" style="height: 80px; display: inline; width: 100px;" alt=""></a>
		<h1 style="display: inline; color: white; text-align: center; margin-left: 20%;">OAUTHC<span style="margin-left: 10px;"></span> PAEDIATRIC<span style="margin-left: 10px;"></span> HEALTH<span style="margin-left: 10px;"></span> CENTER<span style="margin-left: 10px;"></span></h1>
		<a href="index.html" class="logo"><img src="../../images/logos.png" style="height: 80px; width: 100px; display: inline; float: right;"></a>
		<ul>
			<li>
				<a href="../../index.php">Home</a>
			</li>
			<li class="selected">
				<a href="about.html">About</a>
			</li>
			<li>
				<a href="services.html">Services</a>
			</li>
			<li>
				<a href="contact.php">Contact</a>
			</li>
			<li>
				<a href="information.html">Information</a>
			</li>
			<li>
				<a href="../forms/login.php">Staff</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<div class="sidebar">
			<h3>contact</h3>
			<ul>
				<li>
					<span class="address">address</span>
					<ul>
						<li>
							OAUTHC
						</li>
						<li>
							Paediatric Unit
						</li>
						<li>
							13 Dauda street ira quaters
						</li>
						<li>
							Ojo Lagos Nigeria
						</li>
					</ul>
				</li>
				<li>
					<span class="phone">telephone</span>
					<ul>
						<li>
							09086464071
						</li>
					</ul>
				</li>
				<li>
					<span class="email">email</span>
					<ul>
						<li>
							<a href="#">ogunseyin@gmail.com</a>
						</li>
					</ul>
				</li>
				<li>
					<span class="twitter">twitter</span>
					<ul>
						<li>
							<a href="#">WeCare</a>
						</li>
					</ul>
				</li>
				<li>
					<span class="facebook">facebook</span>
					<ul>
						<li>
							<a href="http://freewebsitetemplates.com/go/facebook/">www.facebook/Ogunseyin</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="content">
			<img src="../../images/slider1.jpg" alt="">
			<h2>about</h2>
			<h3>What We Do</h3>
			<p>
        We are OAUTHC Paediatric Unit, created by the
				blue moravians society in 2010.We are a polygot
				medical society that cover a lot of services for different customers,
				but our area of deep specialization is in pediatrics and gyneacology.
				We also offer emergency services to all our customers and this certainly includes
				first time customers. Our services are efficient and we pride in the good
				health of our customers.
			</p>
			<h3>How We Work</h3>
			<p>
  		We work 24 hours a day and 7 days a week,
			Emergency services are also available round the clock.
			We have 6 doctors whose combined specializations cover
			a very wide area of the health care system.Cunsultation
			hours and are very flexible to suit the schedule of our
			clients and patients.Medical Counselling services are also
			available and We have a tested and proven commitment to
			keeping our services at par with the requirements of our clients.
			</p>
			<h3>Be Part Of Our Community</h3>
			<p>
			We have a community for our patients and clients and
			we would like you to be part of this community.Its a community
			where we connect those patients who may need any outside help
			to those who would like to offer help together. Get Help! Help Someone!
			Services are totally voluntary and free, they however do not go without
			many bonuses from the caare centre.Rewards include full scholarship of the
			children to any school of choice and time-to-time free medical services as
			Scheduled.
			</p>
			<h3>Choose your favourite doctor.</h3>
			<p>
			Work in a very friendly enviroment
			</p>
			<p>
				Affordable Monthly Premium Monthly package
			</p>
			<p>
				We offer full health care kit to all
				our clients. Never be stranded or confused as to the
				things you need to keep yourself and your children healthy.
				We are here to help.
			<p>
				Choose your packages, get help from specialists,
				get disgnostic reports, book impromptu appointments.
			</p>
			<p>
			We have a sleep center, nursing services,gyn care and
			a detailed pharmacy. Your health is at home with us.
		</div>
	</div>
	<div id="footer">
		<div>
			<p>
				<span>2017 &copy;OAUTHC Paediatric Unit</span><a href="#" >Terms of Service</a> | <a href="#" >Privacy Policy</a>
			</p>
			<ul>
				<li id="facebook">
					<a href="http://freewebsitetemplates.com/go/facebook/">facebook</a>
				</li>
				<li id="twitter">
					<a href="http://freewebsitetemplates.com/go/twitter/">twitter</a>
				</li>
				<li id="googleplus">
					<a href="http://freewebsitetemplates.com/go/googleplus/">googleplus</a>
				</li>
				<li id="rss">
					<a href="#" >rss</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
