<!DOCTYPE HTML>
<html>
<head>
	<title>Information</title>
	<link rel="stylesheet" href="../../stylesheets/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<a href="../../images/oaulogo.png" class="logo"><img src="../../images/oaulogo.png" style="height: 80px; display: inline; width: 100px;" alt=""></a>
		<h1 style="display: inline; color: white; text-align: center; margin-left: 20%;">OAUTHC<span style="margin-left: 10px;"></span> PAEDIATRIC<span style="margin-left: 10px;"></span> HEALTH<span style="margin-left: 10px;"></span> CENTER<span style="margin-left: 10px;"></span></h1>
		<a href="index.html" class="logo"><img src="../../images/logos.png" style="height: 80px; width: 100px; display: inline; float: right;"></a>
		<ul>
			<li>
				<a href="../../index.php">Home</a>
			</li>
			<li>
				<a href="about.html">About</a>
			</li>
			<li>
				<a href="services.html">Services</a>
			</li>
			<li>
				<a href="contact.php">Contact</a>
			</li>
			<li class="selected">
				<a href="information.html">Information</a>
			</li>
			<li>
				<a href="../forms/login.php">Staff</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<div id="blog">
			<div>
				<span>may 9, 2017</span>
				<div>
					<div class="figure">
						<a href="#"><img src="../../images/vaccines.jpg" alt=""></a>
					</div>
					<div class="article">
						<h3>Approved Vaccinations For 2017</h3>
						<p>
							Vaccinations are an increasingly important aspect in the health aspect of any
							country.There is always an ongoing study and research which is tailored towards the
							development and perharps creation of better vaccines. Such studies are carried out
							every year in form of seminars, forums, and actual laboratory experiments.Having recieved
							full license to participate in the research and development of such vaccines OAUTHC Paediatric Unit health
							center is actively involved in the creation of many vaccines which have been accessed by the
							World Health Organization.
						</p>
						<a href="" class="more" >read more</a>
					</div>
				</div>
				<div class="stats">
					<i>Posted by <a href="#" >Admin</a> in <a href="" >OAUTHC Paediatric Unit</a></i>
				</div>
			</div>
			<div>
				<span>may 9, 2017</span>
				<div>
					<div class="figure">
						<a href=""><img src="../../images/research.jpg" alt=""></a>
					</div>
					<div class="article">
						<h3>Research Goes A Long Way</h3>
						<p>
							OAUTHC Paediatric Unit is actively involved in research and development of
							medical products and pharmaceutical services such as drug-making and
							medical service care providers which have been patronized by many of out
							clients and customers both at home and abroad. The health center also trains
							University students at certain levels on the practical approach to
							administer health services to patients.
						</p>
						<a href="" class="more" >read more</a>
					</div>
				</div>
				<div class="stats">
					<i>Posted by <a href="#" >Admin</a> in <a href="" >OAUTHC Paediatric Unit</a></i>
				</div>
			</div>
			<div>

				<div>
					<div class="article">
						<h3>Disease Distribution</h3>
						<p>
							View The distrbution of certain diseases in the South Western geopolitical zones of Nigeria.
							This section displays the maps of certain areas of Nigeria Where all kinds of diseases have their prevalence.
						</p>
						<a href="../hospital-forms/disease_page.php" class="more">DISEASE DISTRIBUTION</a>
					</div>
				</div>
			</div>
		</div>
		<div id="sidebar">
			<div class="archive">
				<h3>archive</h3>
				<ul>
					<li>
						<a href="">april 2017</a>
					</li>
					<li>
						<a href="">march 2017</a>
					</li>
					<li>
						<a href="">february 2017</a>
					</li>
					<li>
						<a href="">january 2017</a>
					</li>
				</ul>
			</div>
			<div class="categories">
				<h3>categories</h3>
				<ul>
					<li>
						<a href="">OAUTHC  events</a>
					</li>
					<li>
						<a href="">publications and news</a>
					</li>
					<li>
						<a href="">product development</a>
					</li>
					<li>
						<a href="">health tips</a>
					</li>
					<li>
						<a href="">medications and vaccines</a>
					</li>
					<li>
						<a href="">uncategorized</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<p>
				<span>2017 &copy; OAUTHC Paediatric Unit</span><a href="#" >Terms of Service</a> | <a href="#" >Privacy Policy</a>
			</p>
			<ul>
				<li id="facebook">
					<a href="http://freewebsitetemplates.com/go/facebook/">facebook</a>
				</li>
				<li id="twitter">
					<a href="http://freewebsitetemplates.com/go/twitter/">twitter</a>
				</li>
				<li id="googleplus">
					<a href="http://freewebsitetemplates.com/go/googleplus/">googleplus</a>
				</li>
				<li id="rss">
					<a href="#" >rss</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
