<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Services</title>
	<link rel="stylesheet"  type="text/css" href="../../stylesheets/style.css">
</head>
<body>
	<div id="header">
		<a href="../../images/oaulogo.png" class="logo"><img src="../../images/oaulogo.png" style="height: 80px; display: inline; width: 100px;" alt=""></a>
		<h1 style="display: inline; color: white; text-align: center; margin-left: 20%;">OAUTHC<span style="margin-left: 10px;"></span> PAEDIATRIC<span style="margin-left: 10px;"></span> HEALTH<span style="margin-left: 10px;"></span> CENTER<span style="margin-left: 10px;"></span></h1>
		<a href="index.html" class="logo"><img src="../../images/logos.png" style="height: 80px; width: 100px; display: inline; float: right;"></a>
		<ul>
			<li>
				<a href="../../index.php">Home</a>
			</li>
			<li>
				<a href="about.html">About</a>
			</li>
			<li class="selected">
				<a href="services.html">Services</a>
			</li>
			<li>
				<a href="contact.php">Contact</a>
			</li>
			<li>
				<a href="information.html">Information</a>
			</li>
			<li>
				<a href="../forms/login.php">Staff</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<ul>
			<li>
				<div class="figure">
					<span>laboratory services</span> <img src="../../images/immunization.jpg" alt="">
				</div>
				<div class="article">
					<p>
						 Immunization is a proven tool for controlling and eliminating life-threatening
						 infectious diseases and is estimated to avert between 2 and 3 million deaths each year.
						  It is one of the most cost-effective health investments, with proven strategies that
							make it accessible to even the most hard-to-reach and vulnerable populations.
							It has clearly defined target groups; it can be delivered effectively through outreach activities;
							 and vaccination does not require any major lifestyle change.
					</p>
					<ul>
						<li>
							<a href="#" >Hepatitis</a>
						</li>
						<li>
							<a href="#" >Rotavirus</a>
						</li>
						<li>
							<a href="#" >Diphteria</a>
						</li>
						<li>
							<a href="#" >Haemophilus</a>
						</li>
						<li>
							<a href="#" >Pneumococcal</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="#" >Poliovirus</a>
						</li>
						<li>
							<a href="#" >Influenza</a>
						</li>
						<li>
							<a href="#" >Measles</a>
						</li>
						<li>
							<a href="#" >Varicella</a>
						</li>
						<li>
							<a href="#" >Hepatitis A</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="#" >Tetanus</a>
						</li>
						<li>
							<a href="#" >Human papillomavirus</a>
						</li>
						<li>
							<a href="#" >Meningococcal</a>
						</li>
						<li>
							<a href="#" >Pneumococcal</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="figure">
					<span>Child Delivery</span> <img src="../../images/baby.jpg" alt="">
				</div>
				<div class="article">
					<p>
						Every pregnant women needs to know that labor and birth are simply and beautifully designed.
						In order to keep labor and birth as safe as possible, and to minimize the risk of complications,
						 it is essential to respect the simple, natural, physiologic process of labor and birth and not
						  interfere in any way, unless there is a clear medical indication.
					</p>
					<ul>
						<li>
							<a href="#" >x-ray</a>
						</li>
						<li>
							<a href="#" >Maternity</a>
						</li>
						<li>
							<a href="#" >Pediatric</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="figure">
					<span>general services</span> <img src="../../images/general-services.jpg" alt="">
				</div>
				<div class="article">
					<p>
						We also provide general health services in several areas
					<ul>
						<li>
							<a href="#" >pediatric</a>
						</li>
						<li>
							<a href="#" >family medicine</a>
						</li>
						<li>
							<a href="#" >ob gyne</a>
						</li>
						<li>
							<a href="#" >immunization</a>
						</li>
						<li>
							<a href="#" >internal medicine</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div id="footer">
		<div>
			<p>
				<span>2017 &copy; OAUTHC Paediatric Unit</span><a href="#" >Terms of Service</a> | <a href="#" >Privacy Policy</a>
			</p>
			<ul>
				<li id="facebook">
					<a href="http://freewebsitetemplates.com/go/facebook/">facebook</a>
				</li>
				<li id="twitter">
					<a href="http://freewebsitetemplates.com/go/twitter/">twitter</a>
				</li>
				<li id="googleplus">
					<a href="http://freewebsitetemplates.com/go/googleplus/">googleplus</a>
				</li>
				<li id="rss">
					<a href="#" >rss</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
